.coffee-container {
  display: flex;
  border-bottom: solid 2px #ab6832;
  border-left: solid 4px #ab6832;
  border-top-left-radius: 8px;
  padding: 10px;
  min-width: 270px;
}
.coffee-name {
  font-weight: 600;
}
.coffee-delete {
  opacity: 0;
  cursor: pointer;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 2px solid #ab6832;
  padding: 1px 8px;
  margin-left: 20px;
}
.coffee-container:hover > .coffee-delete {
  opacity: 1;
}
.coffee-header {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.coffee-form {
  display: flex;
  flex-direction: column;
}
.coffee-component-container {
padding-right: 20px;
}
.modal-button {
  height: 23px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: white;
  border: 2px solid #ab6832;
}
.modal-container {
  padding: 10px 50px;
  position: absolute;
  left: 0%;
  top: 100%;
  background-color: white;
  border:solid 2px #ab6832;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
}
