.postlist-container {
  min-width: 50vw;
  min-height: 100vh;
}
.postlist-header {
  display: flex;
  position: relative;
  border-bottom: 2px solid #ab6832;
  border-left: 4px solid #ab6832;
  border-top-left-radius: 15px;
  width: 800px;
  height: 50px;
  padding: 5px;
  /* justify-content: flex-end; */
}
.post {
  padding-top: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  word-break: break-all;
  width: 800px;
  max-width: 800px;
  border-bottom: 1px dashed #ab6832;
}
.postorder {
  align-self: center;
  flex: 1;
}
.post-delete {
  position: absolute;
  opacity: 0;
  top: 77%;
  left: 70%;
  width: fit-content;
  cursor: pointer;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 2px solid #ab6832;
  padding: 0 5px;
}
.post:hover > .post-delete {
  opacity: 1;
}
.posttext {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}
.posttitle {
  font-size: x-large;
  font-weight: 500;
}
.post-headerleft {
  display: flex;
  flex: 10;
  justify-content: flex-start;
  gap: 40px;
}
.post-button {
  align-self: center;
  height: 23px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: white;
  border: 2px solid #ab6832;
}
.post-headerleft > h2 {
  display: flex;
  align-self: center;
  font-weight: 500;
  padding: 0;
  margin: 0;
}
.post-form {
  display: flex;
  flex-direction: column;
}
.postmodal-container {
  padding: 10px 50px;
  position: fixed;
  background-color: white;
  border:solid 2px #ab6832;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  z-index: 10;
  top: 40%;
  left: 54%;
  transform: translate(-50%,-50%);
}
.overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0%;
  left: 0%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
  overflow: hidden;
}
.post-form {
  row-gap: 20px;
}
